@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans";
  font-weight: 400;
  background-color: #fff;
  line-height: 1;
  color: #000;
  font-size: 12px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%;
  border: none; }

form {
  margin: 0; }

input[type="submit"], button {
  cursor: pointer;
  border: none; }

input:not([type="checkbox"]):not([type="radio"]), select {
  border: none;
  -webkit-appearance: none; }

textarea {
  resize: vertical;
  border: none;
  -webkit-appearance: none;
  overflow: auto; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1; }

::-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 1; }

*, *:focus {
  outline: none !important; }

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*:before, *:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input, textarea, input:before, textarea:before, input:after, textarea:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial; }

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.inner::before, .find-solicitor .find-text::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px; }

.inner > *, .find-solicitor .find-text > * {
  display: inline-block;
  vertical-align: middle; }

.btn-blue {
  border-color: #fff;
  color: #fff;
  width: 48px;
  text-align: center;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.bg-orange {
  background: #f26523; }

.bg-blue {
  background: #30436b; }

.admin-ic {
  background-image: url(../img/sprite.png);
  background-position: -74px -101px;
  width: 29px;
  height: 30px; }

.apartment-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -64px;
  width: 35px;
  height: 35px; }

.commers-ic {
  background-image: url(../img/sprite.png);
  background-position: -101px 0px;
  width: 35px;
  height: 34px; }

.crime-ic {
  background-image: url(../img/sprite.png);
  background-position: -64px 0px;
  width: 35px;
  height: 35px; }

.hands-ic {
  background-image: url(../img/sprite.png);
  background-position: -101px -36px;
  width: 35px;
  height: 34px; }

.home-ic {
  background-image: url(../img/sprite.png);
  background-position: -138px 0px;
  width: 27px;
  height: 35px; }

.keys-ic {
  background-image: url(../img/sprite.png);
  background-position: -37px -101px;
  width: 35px;
  height: 33px; }

.people-ic {
  background-image: url(../img/sprite.png);
  background-position: -37px -64px;
  width: 35px;
  height: 35px; }

.planet-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 62px;
  height: 62px; }

.resident-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -101px;
  width: 35px;
  height: 34px; }

.serch-ic {
  background-image: url(../img/sprite.png);
  background-position: -138px -37px;
  width: 19px;
  height: 19px; }

.container {
  width: 1060px;
  padding: 0 10px;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .container {
      width: 980px; } }
  @media (max-width: 1023px) {
    .container {
      width: 100%; } }

.header {
  height: 80px;
  width: 100%;
  background: #fff; }
  .header .logo {
    float: left;
    margin: 15px 0 0 9px; }
    @media (max-width: 467px) {
      .header .logo {
        width: 65%; } }
  .header .header-nav {
    float: right;
    margin: 25px 0; }
    .header .header-nav li + li {
      margin: 0 23px; }
    .header .header-nav li {
      display: inline-block;
      font-size: 16px; }
      .header .header-nav li a {
        font-size: 16px; }
        .header .header-nav li a:hover {
          color: #f26523; }
    @media (max-width: 767px) {
      .header .header-nav {
        display: none; } }

.main .inner-form {
  margin-top: 50px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: rgba(0, 0, 0, 0.45);
  padding: 25px 31px 20px 31px;
  overflow: hidden; }
  .main .inner-form .form-control {
    height: 57px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    font-size: 16px;
    color: #7e878d;
    padding-left: 17px;
    padding-right: 15px; }
  .main .inner-form .form-btn {
    height: 57px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-color: #f26523;
    color: #fff; }

.icon {
  display: inline-block; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    cursor: pointer; }
    input[type="checkbox"] + label::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      background: #fff;
      -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.22) inset;
              box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.22) inset;
      margin-right: 8px;
      vertical-align: middle; }
  input[type="checkbox"]:checked + label::before {
    background: #fff url("../img/checboxchecedbg.png") no-repeat center center; }
  @media (max-width: 959px) {
    input[type="checkbox"] {
      width: 100%;
      margin-top: 10px; } }

.footer {
  clear: both;
  text-align: center; }
  .footer .footer-nav li {
    display: inline-block;
    margin-top: 43px;
    margin-bottom: 35px;
    color: #515a60;
    font-size: 12px; }
    @media (max-width: 486px) {
      .footer .footer-nav li {
        font-size: 10px; } }
    .footer .footer-nav li + li {
      margin-left: 10px; }
      @media (max-width: 486px) {
        .footer .footer-nav li + li {
          margin-left: 5px; } }
  .footer img {
    margin-bottom: 35px; }
  .footer span {
    display: block;
    color: #7d858b;
    font-size: 14px;
    margin-bottom: 20px; }

.btn {
  border: 1px solid transparent;
  padding: 14px 25px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  display: inline-block;
  font-size: 18px; }
  .btn.btn-wite {
    border-color: #fff;
    color: #fff; }
    .btn.btn-wite:hover {
      color: #30436b;
      background: #fff; }
  .btn.btn-orange {
    border-color: #f26523;
    color: #f26523; }
    .btn.btn-orange:hover {
      background: #f26523;
      color: #fff; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  text-align: center;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-arrow {
  color: transparent;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top: 3px solid #f26523;
  border-right: 3px solid #f26523;
  background: transparent; }
  .slick-arrow.slick-prev {
    left: -60px;
    -webkit-transform: translateY(-50%) rotate(-135deg);
        -ms-transform: translateY(-50%) rotate(-135deg);
            transform: translateY(-50%) rotate(-135deg); }
    @media (max-width: 1205px) {
      .slick-arrow.slick-prev {
        left: 0px; } }
    @media (max-width: 1023px) {
      .slick-arrow.slick-prev {
        left: 15px; } }
  .slick-arrow.slick-next {
    right: -60px;
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg); }
    @media (max-width: 1205px) {
      .slick-arrow.slick-next {
        right: 0px; } }
    @media (max-width: 1023px) {
      .slick-arrow.slick-next {
        right: 15px; } }

.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer; }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em; }

.slicknav_menu {
  *zoom: 1; }
  .slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left; }
  .slicknav_menu .slicknav_icon {
    float: left;
    width: 1.125em;
    height: 0.875em;
    margin: 0.188em 0 0 0.438em; }
    .slicknav_menu .slicknav_icon:before {
      background: transparent;
      width: 1.125em;
      height: 0.875em;
      display: block;
      content: "";
      position: absolute; }
  .slicknav_menu .slicknav_no-text {
    margin: 0; }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
  .slicknav_menu:before {
    content: " ";
    display: table; }
  .slicknav_menu:after {
    content: " ";
    display: table;
    clear: both; }

.slicknav_nav {
  clear: both; }
  .slicknav_nav ul {
    display: block; }
  .slicknav_nav li {
    display: block; }
  .slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em; }
  .slicknav_nav .slicknav_item {
    cursor: pointer; }
    .slicknav_nav .slicknav_item a {
      display: inline; }
  .slicknav_nav .slicknav_row {
    display: block; }
  .slicknav_nav a {
    display: block; }
  .slicknav_nav .slicknav_parent-link a {
    display: inline; }

.slicknav_brand {
  float: left; }

.slicknav_menu {
  float: right;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  padding: 5px;
  position: relative; }
  .slicknav_menu * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .slicknav_menu .slicknav_menutxt {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 3px #000; }
  .slicknav_menu .slicknav_icon-bar {
    background-color: #fff; }

.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #222; }

.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 10px;
  z-index: 9999%; }
  .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px; }
  .slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px; }
    .slicknav_nav .slicknav_row:hover {
      -webkit-border-radius: 6px;
      border-radius: 6px;
      background: #ccc;
      color: #fff; }
  .slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #fff; }
    .slicknav_nav a:hover {
      -webkit-border-radius: 6px;
      border-radius: 6px;
      background: #ccc;
      color: #222; }
  .slicknav_nav .slicknav_txtnode {
    margin-left: 15px; }
  .slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0; }
  .slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0; }

.slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px; }

.slicknav_menu {
  display: none; }
  @media (max-width: 767px) {
    .slicknav_menu {
      display: inline-block;
      padding: 19px;
      background: #fff; } }

.serch-ic {
  position: relative; }

.serch-input {
  display: none;
  position: absolute;
  top: 20px;
  right: 0px;
  border: 1px solid;
  background: #fff;
  height: 30px;
  font-size: 16px;
  padding: 5px 5px 5px 5px; }

.inner {
  height: -webkit-calc( 100vh - 80px);
  height: calc( 100vh - 80px);
  background: url("../img/inner-bg.jpg") no-repeat top center;
  background-size: cover;
  text-align: center; }
  @media (max-width: 1024px) {
    .inner {
      height: auto;
      padding: 40px 0; } }

.inner-block h1 {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .inner-block h1 {
      font-size: 50px; } }

.inner-block > span {
  font-size: 28px;
  color: #fff; }
  @media (max-width: 767px) {
    .inner-block > span {
      font-size: 16px; } }

.inner-block .more-option {
  display: block;
  text-align: left;
  cursor: pointer;
  color: #fff;
  margin-top: 15px;
  font-size: 14px; }

.inner-block .form-control {
  width: 325px; }
  @media (max-width: 959px) {
    .inner-block .form-control {
      width: 100%; } }

.inner-block .first-form input + input {
  margin-left: 4px; }
  @media (max-width: 959px) {
    .inner-block .first-form input + input {
      margin-left: 0;
      margin-top: 10px; } }

.inner-block .form-btn {
  width: 115px; }
  @media (max-width: 959px) {
    .inner-block .form-btn {
      width: 100%; } }

.inner-block .second-form {
  display: none;
  overflow: hidden;
  margin-top: 15px; }
  .inner-block .second-form .input-group .input-group-text {
    float: left; }
    @media (max-width: 959px) {
      .inner-block .second-form .input-group .input-group-text {
        width: 100%; } }
    .inner-block .second-form .input-group .input-group-text input {
      overflow: hidden;
      width: 230px;
      height: 50px;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      padding: 20px 15px;
      font-size: 16px;
      color: #7e878d;
      margin-left: 10px; }
      @media (max-width: 959px) {
        .inner-block .second-form .input-group .input-group-text input {
          width: 100%; } }
    .inner-block .second-form .input-group .input-group-text + label {
      margin-left: 10px; }
  .inner-block .second-form .input-group .input-group-text label {
    display: block;
    text-align: left;
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px; }
  .inner-block .second-form .input-group > label {
    float: left;
    font-size: 16px;
    color: #FFF;
    margin: 15px 50px 0  0; }
    @media (max-width: 959px) {
      .inner-block .second-form .input-group > label {
        width: 100; } }

.slogan {
  background-color: #f6f8f8;
  padding: 30px 0;
  border-bottom: 1px solid #e4ebec;
  color: #5a6464;
  font-size: 18px;
  text-align: center; }
  .slogan a {
    color: #f26523; }
  @media (max-width: 1097px) {
    .slogan {
      font-size: 16px; } }

.service-wrap {
  margin-top: 45px;
  margin-bottom: 30px;
  clear: both;
  overflow: hidden; }
  .service-wrap .service-wrap .row {
    margin: -10px 0; }

.cat-list {
  display: inline-block;
  float: left;
  width: 33.333%;
  height: 200px;
  padding: 0 10px 0 10px;
  line-height: 1.25;
  margin-bottom: 30px; }
  @media (max-width: 959px) {
    .cat-list {
      width: 50%; } }
  @media (max-width: 599px) {
    .cat-list {
      width: 100%;
      height: auto; } }
  @media (max-width: 599px) {
    .cat-list + .cat-list {
      margin-top: 20px; } }
  .cat-list .cat-list-info h1 {
    font-size: 20px;
    color: #f26523;
    margin: 10px 0; }
    .cat-list .cat-list-info h1 span {
      font-size: 12px; }
  .cat-list .cat-list-text {
    font-size: 16px;
    width: 70%;
    line-height: 1.25; }

.more-areas .titel {
  font-size: 24px;
  color: #515a60;
  margin-bottom: 20px; }

.slider-wrap {
  padding: 15px 0;
  border-top: 1px solid #e2e6e7;
  border-bottom: 1px solid #e2e6e7;
  margin-bottom: 75px; }
  .slider-wrap .areas-slider a {
    color: #f26523;
    font-size: 16px;
    line-height: 1.2; }
    .slider-wrap .areas-slider a span {
      font-size: 12px; }

.legal-articles {
  overflow: hidden;
  padding: 60px 0 10px 0; }
  .legal-articles .news-row {
    margin-left: -10px;
    margin-right: -10px; }
  .legal-articles .titel {
    font-size: 24px;
    color: #fff;
    margin-bottom: 50px;
    text-align: center; }
  .legal-articles .news-post {
    float: left;
    width: 33.333%;
    padding-left: 10px;
    padding-right: 10px; }
    @media (max-width: 959px) {
      .legal-articles .news-post {
        width: 100%; } }
    @media (max-width: 959px) {
      .legal-articles .news-post + .news-post {
        margin-top: 10px; } }
    .legal-articles .news-post .news-content {
      border-top: 4px solid #90bed5;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      padding: 20px 20px;
      background: #fff; }
      .legal-articles .news-post .news-content .title {
        color: #515a60;
        font-size: 20px;
        margin-bottom: 15px; }
      .legal-articles .news-post .news-content p {
        color: #6c767e;
        font-size: 16px;
        line-height: 1.25; }
        .legal-articles .news-post .news-content p a {
          color: #30436b; }

.category-btn {
  text-align: center;
  padding: 60px 0 80px 0;
  overflow: hidden; }
  .category-btn .title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 45px; }
  @media (max-width: 767px) {
    .category-btn .btn {
      width: 100%;
      margin-top: 10px; } }
  .category-btn .btn + .btn {
    margin-left: 30px; }
    @media (max-width: 767px) {
      .category-btn .btn + .btn {
        margin-left: auto; } }

.top-counties {
  padding-top: 60px;
  text-align: center; }
  @media (max-width: 767px) {
    .top-counties {
      padding: 0 10px 0 10px; } }
  .top-counties .row {
    margin: 0 -10px; }
  .top-counties .title {
    color: #515a60;
    font-size: 38px;
    margin-bottom: 70px; }
    @media (max-width: 767px) {
      .top-counties .title {
        font-size: 25px; } }
    @media (max-width: 599px) {
      .top-counties .title {
        font-size: 18px; } }
  .top-counties .btn {
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .top-counties .btn {
        width: 100%;
        text-align: center; } }
    .top-counties .btn span {
      font-size: 12px; }
    .top-counties .btn + .btn {
      margin-left: 20px; }
      @media (max-width: 767px) {
        .top-counties .btn + .btn {
          margin-left: auto; } }

.find-solicitor {
  overflow: hidden;
  -webkit-border-radius: 2px;
          border-radius: 2px; }
  .find-solicitor .find-text {
    width: 50%;
    float: left;
    padding: 20px 27px; }
    .find-solicitor .find-text span {
      font-size: 30px;
      color: #fff;
      margin-left: 25px; }
    @media (max-width: 959px) {
      .find-solicitor .find-text {
        width: 100%;
        text-align: center;
        font-size: 20px; } }
    @media (max-width: 599px) {
      .find-solicitor .find-text {
        font-size: 16px; } }
    @media (max-width: 479px) {
      .find-solicitor .find-text .planet-ic {
        display: block;
        margin-bottom: 5px; } }
  .find-solicitor .country-link {
    float: left;
    width: 50%; }
    @media (max-width: 959px) {
      .find-solicitor .country-link {
        width: 100%;
        text-align: center; } }
    .find-solicitor .country-link .link {
      width: 33.3333%;
      float: left;
      padding: 33px 0 33px 0;
      border-left: 2px solid #a54619;
      text-align: center; }
      @media (max-width: 959px) {
        .find-solicitor .country-link .link {
          border: none; } }
  @media (max-width: 959px) and (max-width: 480px) {
    .find-solicitor .country-link .link {
      padding: 5px 0 5px 0; } }
      @media (max-width: 480px) {
        .find-solicitor .country-link .link {
          width: 100%; } }
      .find-solicitor .country-link .link .country {
        font-size: 18px;
        color: #fff; }
        @media (max-width: 480px) {
          .find-solicitor .country-link .link .country {
            font-size: 16px; } }
      .find-solicitor .country-link .link .count {
        display: block;
        font-size: 14px;
        color: #a54619; }
        @media (max-width: 480px) {
          .find-solicitor .country-link .link .count {
            font-size: 12px; } }

.solikitors-login {
  margin-top: 75px;
  overflow: hidden;
  padding: 40px 0 40px 0;
  vertical-align: bottom; }
  .solikitors-login .solikitors-login-text {
    width: 48%;
    display: inline-block; }
    @media (max-width: 767px) {
      .solikitors-login .solikitors-login-text {
        width: 100%;
        text-align: center;
        margin-top: 10px; } }
    .solikitors-login .solikitors-login-text .title {
      font-size: 32px;
      color: #fff;
      margin-bottom: 10px;
      text-align: left; }
    .solikitors-login .solikitors-login-text p {
      color: #fff;
      font-size: 16px;
      text-align: left; }
    .solikitors-login .solikitors-login-text .btn {
      text-align: right; }
      @media (max-width: 767px) {
        .solikitors-login .solikitors-login-text .btn {
          width: 100%;
          text-align: center;
          margin-top: 10px; } }
    .solikitors-login .solikitors-login-text + .btn {
      margin-left: 39px; }
